.page-home {
  min-width: 100% !important;



  .outer-wrapper {

    .inner {
      width: 100% !important;
    }

    .middle-wrapper {
      height: auto;
      background: image-url('tmp/title-middle.jpg');
      background-size: cover;

      .img {
        display: none;
      }
    }

    .top-wrapper {
      background: image-url('tmp/title-top.jpg');
      background-size: cover;
      height: auto;

      .title-text {
        padding: 10px 0 10px 0;
        margin: 35px 0;

        .title-inner {
          width: 100% !important;
          padding: 0 25px;

          p {
            font-size: 22px !important;
            margin: 0;
          }

          .btn-wrap {
            margin: 20px 0;
            .btn {
              font-size: 14px;
              padding: 15px 50px;
            }
          }
        }
      }

      .img {
        display: none;
      }

    }
  }

  .content-wrapper {

    .content-item.odd {
      width: 100% !important;
      padding: 0 20px;

      p {
        font-size: 20px !important;
      }
    }

    .content-item.even .category ul li {
      width: 50% !important;
      border-bottom: 1px solid #ffffff;

      a {
        padding: 34px !important;
        font-size: 18px !important;
      }
    }
  }

}
