.page-gallery {

  .gallery-list {

    li {
      width: 33.33333%;

      &:hover{

        &:before {
          opacity: 1;
        }

        .desc {
          opacity: 1;
        }
      }

      .desc {
        padding: 30px;
        font-size: 16px;

        h6 {
          font-size: 28px;
          margin: 0 0 30px 0;
        }

        &:before {
          bottom: -45px;
        }
      }

      &:nth-child(3n) {
        border-right: none;
      }
    }

    @media (max-width: 940px) {

      li {

        .desc {
          padding: 20px;
          font-size: 14px;

          h6 {
            font-size: 22px;
            margin: 0 0 20px 0;
          }

          &:before {
            bottom: -30px;
          }
        }
      }
    }
  }
}