&.page-gallery {

  .gallery-list {
    margin: 0;
    padding: 0;
    @include clearfix();

    .field-collection-view-links {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 15;

      li {
        float: none;
        display: block;
        width: 100%;

        &:hover:before {
          display: none;
        }
      }
    }

    li {
      list-style: none;
      float: left;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: relative;


      .desc {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        opacity: 0;
        @include transition(all .4s);
        @include transform(translateY(-50%));

        h6 {
          text-transform: uppercase;
        }

        &:before {
          @include pseudo-block($left: 50%);
          @include oneline-sprite-box($icons, plus);
          @include transform(translateX(-50%));
        }
      }

      &:before {
        @include pseudo-block($top: 0, $left: 0, $right: 0, $bottom: 0);
        background: rgba(123, 8, 5, 0.77);
        opacity: 0;
        @include transition(all .4s);
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}